.dialog-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    border-radius: 8px;
    z-index: 1000;
}

.behind-dialog-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: all;
}

.delete-dialog {
    background-color: #292e33;
    border-radius: 8px;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 18rem;
}

.dialog-text {
    text-align: center;
    color: #b6c2cf;
}

.buttons {
    padding: 0.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    color: white;
    padding: 0.7rem;
    border: 0px;
    border-radius: 4px;
}

.cancel-button {
    background-color: #689BF8;
}

.delete-button {
    align-self: end;
    background-color: #A35353;
}

.cancel-button:hover {
    background-color: #205fbd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #7f2f2f;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
